# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# GDScript specific settings
[*.gd]
indent_style = tab
indent_size = 4

# Scene files
[*.tscn]
indent_style = tab
indent_size = 4

# Resource files
[*.tres]
indent_style = tab
indent_size = 4

# Import files
[*.import]
indent_style = tab
indent_size = 4
